.footer {
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-link-2 {
  color: rgb(159, 159, 159);
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}